@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
    
/* 
* .cabecalho{ 
    padding: 2% 5% 5% 15%;
    position: relative;
    z-index: 2;
    
    
} */

body{
    background-image: linear-gradient(0deg, rgba(245, 246, 248, 0.975), rgb(40, 8, 200));
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100vh;
    text-align: center;
    
}

header,h1{
    width:100%;
    margin: 0;
    color: wheat;
    /*text-align:center;*/
    padding: 15vh 0;

    font-size: 50%;
    line-height: 30px;  /*diminiu o espaçamento entre o nome cadastro*/
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #f40410;

   
    
}

.divisao-titulo{
    margin: 0px;
    height: 2vi;
    width: 60vh;
    left: 2vh;
    top: 170px;
    position: absolute;
    /* display: flex; */
    /* justify-content: space-between; */
}

.titulo-home{
    /* position: absolute; */
    /* left: 10px; */
    color:#f40410;
    font-size: 4vi;
    /* text-align: left; */
}

.subtitulo{
    /* position: absolute; */
    font-size: 2vi;
    /* text-align: right; */
    /* left: 10px; */
}

.vetorPessoas{
   
  /* position: fixed; */
  
   height: 70vh;
   right: 7vw;

   bottom: 8vh;


}

footer {
    background-color: #333;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.rodape__texto{
   
    font-size: 18px;
    color: rgb(246, 250, 250);
    align-items: center;
    text-align: left;
    position: relative;
    left: 10vw;
    
   
}



/*#loginHome{
    height: 60vh;
    width: 23vw;
    float: right;
    position: fixed;
    top: 13vh;
    right: 15vh;
    position: absolute;
    z-index: 4;
    
}

.form-container {
    position: static;
    z-index: 5;
    max-width: 20vw;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.438);
    border-radius: 10px;
    
}


.Entrar{
    color: #0000008d;
    text-shadow: #000000;
}*/

