@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
    

*.cabecalho{ 
    padding: 2% 5% 5% 15%; /*tira o efeito dos nomes*/
    position: relative;
    z-index: 2;
    
}


.cabecalho__menu__link{
    font-size:25px;
    font-weight: 90px;
    color:rgb(255, 255, 255); /*muda a cor dos nomes*/
    text-decoration: none; 
    font-style: bold;

    z-index: 1;


}
.class cabecalho{ 
    display: inline-block;
    margin: 20px;
    padding: 10px;
    }

/*a{
        color:rgb(5, 5, 5);
    }*/

    
a:hover{
        color:#400040; /*aqui muda o nome de cor quando passa p mause em cima*/
        transition: 0.3s all; 
}


#Inscreva-se-button{
    border: 2px solid #400040; /*aumenta a espessura do quadrado*/
    padding: 10px;
    border-radius: 25px;
    
    }
    
#Inscreva-se-button:hover{
       background-color: #400040; /* a cor do quadrado*/
       color:white; 
    
    }

    
.cabecalho__menu{  /*bagunça o cabaçalho*/
    display: flex;
    gap: 80px;
    position: fixed;
    left: 10vw;
    top: 2vh;
    
}

body{
    /*background: linear-gradient(to bottom, #f40410, hsl(168, 53%, 58%));*/
    background-image: linear-gradient(0deg, rgba(17, 54, 71), rgba(20, 147, 220));
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100vh;
    text-align: center;
    
}

header, h1 {
    width:100vw;
    margin: 0;
    color: wheat;
    /*text-align:center;*/
    padding: 15vh 0;

    font-size: 50%;
    line-height: 30px;  /*diminiu o espaçamento entre o nome cadastro*/
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color: #f40410;
    
} 

/*.sobre{
    background-color: azure;
    padding: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:20em;
    text-align: center;
    text-align: justify;
    color:#333;

    position: fixed;
    width:50vw;
    margin:0;
    left: 10vw;
    z-index: 1;
    top: 13vh;
   
}*/
 


.vetorPessoas{
   
  position: fixed;
  
   height: 70vh;
   right: 7vw;

   bottom: 8vh;


}


p{
    font-size:20px;
    text-align: center;
    text-align: justify;
    color: #000;
    border:10vw;
}

footer {
    background-color: #333;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.rodape__texto{
   
    font-size: 18px;
    color: aqua;
    align-items: center;
    text-align: left;
    position: relative;
    left: 10vw;
    
   
}



#loginHome{
    height: 60vh;
    width: 23vw;
    float: right;
    position: fixed;
    top: 13vh;
    right: 15vh;
    position: absolute;
    z-index: 4;
    
}

.form-container {
    position: static;
    z-index: 5;
    max-width: 20vw;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.438);
    border-radius: 10px;
    
}


.Entrar{
    color: #0000008d;
    text-shadow: #000000;
}

