html, body{
    height: 100%;
}

.form-container {
    position: relative;
    z-index: 1;
    max-width: 350px;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.438);
    color:rgb(7, 7, 7);
    border-radius: 10px;
  
    
}


body {
    background-image: linear-gradient(0deg, rgba(245, 246, 248, 0.975), rgb(40, 8, 200));
}

.titulo-login{
     color: #0000008d;
   /*text-shadow: #000000;*/
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}


