.grade {
    display: flex;
    flex-direction: column;
}

.conteudo{
display: flex;
height: auto;

justify-content: center;
}

h1{
    text-align: center;
    text-align: justify;
    align-items: center;
    justify-content: center;
    width:100vw;
    margin: 0;
    color: wheat;
    padding: 15vh 0;
    font-size: 50px;
    line-height: 30px;  /*diminiu o espaçamento entre o nome cadastro*/
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   
}
.titulo-sobre{
    color:#df0909;
   text-align: center;
   text-transform: uppercase;
   text-indent: 50px;
    text-align: justify;
   letter-spacing: 3px;
    align-items: center;
    justify-content: center;
}


body {
    background-image: linear-gradient(0deg, rgba(29, 6, 161, 0.969), rgb(132,14,201));
   /* background: linear-gradient(to bottom, #84d2ff, hsl(168, 53%, 58%));*/
    background-position: center;
    background-size: cover;
    display: flex;
 /* align-items: center; */
   justify-content: center;
    padding: 0px;
    min-height: 100vh;
    margin: 0px;
}

p{

    font-size:30px;
    text-align: center;
    text-align: justify;
    color:white;
    border:10vw;
    position: fixed;
    width:50vw;
    margin:0;
    left: 10vw;
    z-index: 1;
    top: 13vh;
    text-indent: 30px;
   

}