.cabecalho__menu__link{
  font-family: "Poppins", sans-serif;

  font-size:25px;
  font-weight: 90px;
  color:rgb(255, 255, 255); /*muda a cor dos nomes*/
  text-decoration: none; 
  font-style: bold;

  z-index: 1;
  margin: 20px;
  padding: 10px;

}

.cabecalho {
  margin: auto;
  padding: 10px;
  max-width: 100%;
}

.cabecalho__menu {
  display: flex;
  justify-content: space-evenly
}

.cabecalho a:hover{
  color:#400040; /*aqui muda o nome de cor quando passa p mause em cima*/
  transition: 0.3s all; 
}

/* Estilos para dispositivos menores */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 18px;
  color: #fff;
  font-size: 32px;
}

.menu-links {
  display: flex;
}

/* Responsivo */
@media (max-width: 991px) {
  .menu-toggle {
      display: block;
  }

  .menu-links {
      display: none;
      flex-direction: column;
      width: 100%;
  }

  .menu-links.active {
      display: flex;
      margin-top: 30px;
  }

  .cabecalho__menu__link {
    margin: 0;
    text-align: right;
    font-size: 24px;
    padding: 10px 0;
  }
  .cabecalho {
    padding: 10px 0;
  }
}