
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tabela de Remédios</title>
    <style>
      table {
        width: 100%;
        border-collapse: collapse;
      }
      th,
      td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
      }
    </style>
  </head>
  <body>
    <h2>Tabela de Remédios</h2>
    <button onclick="buscarRemedio()">Buscar</button>
    <table>
      <thead>
        <tr>
          <th>Nome do Remédio</th>
          <th>Quantidade</th>
          <th>Dosagem</th>
          <th>Validade</th>
        </tr>
      </thead>
      <tbody id="tabela-corpo">
        <!-- Os dados da tabela serão inseridos aqui -->
      </tbody>
    </table>
    <script>
      function buscarRemedio() {
        fetch("http://localhost:105/lista_remedio",{
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
          },
        })
          .then((response) => response.json())
          .then((data) => {
            const tabelaCorpo = document.getElementById("tabela-corpo");
            tabelaCorpo.innerHTML = "";
            data.forEach((remedio)=>{

              const tr = document.createElement("tr");
              const tdNome = document.createElement("td");
              tdNome.textContent = remedio[0];
              const tdQuantidade = document.createElement("td");
              tdQuantidade.textContent = remedio[1];
              const tdDosagem = document.createElement("td");
              tdDosagem.textContent = remedio[2];
              const tdValidade = document.createElement("td");
              tdValidade.textContent = remedio[3];
              tr.appendChild(tdNome);
              tr.appendChild(tdQuantidade);
              tr.appendChild(tdDosagem);
              tr.appendChild(tdValidade);
              tabelaCorpo.appendChild(tr);
            })

        })
      }
    </script>
  </body>
</html>
