<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tabela de Remédios</title>
  <link rel="stylesheet" href="/static/css/consulta_medicamento.css">
  <link rel="stylesheet" href="/static/css/componentes/cabecalho.css">
</head>
<body>

  <header  class="cabecalho">
    <nav class="cabecalho__menu">
        <a class="cabecalho__menu__link" href="sobre">Sobre</a>
        <a class="cabecalho__menu__link" href="cadastro_remedio">Cadastro de Remédios</a>
        <a class="cabecalho__menu__link" href="consulta">Consulta de Remédios</a>
        <a class="cabecalho__menu__link" href="cadastro">Cadastro de Usuário</a>
        <a class="cabecalho__menu__link" href="login">Login</a>
       

    </nav>
 </header>

 <div class="conteudo_formulario">
  <h2>Tabela de Remédios</h2>
  <input type="text" id="inputRemedio" placeholder="Digite o nome do remédio">
  <button id="buttonRemedio" onclick="buscaRemedio()">Buscar</button>
  <table>
    <thead>
      <tr>
        <th class="lado_esquerdo">Nome do Remédio</th>
        <th>Quantidade</th>
        <th>Dosagem</th>
        <th>Validade</th>
      </tr>
    </thead>
    <tbody id="tabela-corpo">
      <!-- Os dados da tabela serão inseridos aqui -->
    </tbody>
  </table>
 </div>

  <script src="./static/script/funcoes.js"></script>
</body>
</html>
  