<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css
    " rel="stylesheet"> 
</head>
<body 
    class="d-flex align-items-center py-4">
    <main class="w-100 m-auto form-container">
        <form
          action="submit_login"
          method="POST"
          data-form>
          
            <h1 class="titulo-login">Entrar</h1>
            <div class="form-floating py-1">

              <input type="email" class="form-control" id="email" placeholder="Seu email" name="email">
                <label for="email">Email</label>
            </div>
            <div class="form-floating">
                <input type="Senha" class="form-control" id="senha" placeholder="Senha" name="senha">
                <label for="senha">Senha</label>
            </div>
            <div class="form-check text-start my-3">
                <input type="checkbox" class="form-check-input" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">Lembre-me</label>

            </div>
            <button class="btn btn-primary w-100 py-2">Entrar</button>
            <div class="retangulo">

            </div>

        </form>
    </main>
    
</body>
</html>