<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sobre</title>
    <link rel="stylesheet" href="/static/css/sobre.css">
</head>
<h1>Conexão Solidária</h1>
<body>
    <div class="sobre">
      <p class="paragrafo__sobre">Nosso objetivo
        Facilitar a conexão entre indivíduos que possuem medicamentos excedentes e aqueles que deles necessitam é o objetivo central do nosso aplicativo.
        Almejamos reduzir o desperdício e fomentar a solidariedade ao possibilitar a doação de remédios entre pessoas. Nosso propósito é tornar mais acessível a medicação para aqueles que enfrentam limitações financeiras. Por meio do nosso aplicativo, buscamos construir uma comunidade mais saudável e solidária, incentivando o cuidado mútuo e fortalecendo laços de apoio entre os usuários.
        </p>
    </div>
</body>
</html>