<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sobre</title>
    <link rel="stylesheet" href="/static/css/sobre.css">
    <link rel="stylesheet" href="/static/css/componentes/cabecalho.css">
</head>

<body>
    <header class="cabecalho">
        <nav class="cabecalho__menu">
            <button class="menu-toggle" aria-label="Toggle menu">
                ☰
            </button>
            <div class="menu-links">
                <a class="cabecalho__menu__link" href="sobre">Sobre</a>
                <a class="cabecalho__menu__link" href="cadastro_remedio">Cadastro de Remédios</a>
                <a class="cabecalho__menu__link" href="consulta">Consulta de Remédios</a>
                <a class="cabecalho__menu__link" href="cadastro">Cadastro de Usuário</a>
                <a class="cabecalho__menu__link" href="login">Login</a>
            </div>
        </nav>
    </header>
     <div class="conteudo">
        <div class="grade">
            <div>
                <div class="conteudo">
                    <h1 class="titulo-sobre">Conexão Solidária</h1>
                </div>
                <div class="sobre">
                    <p class="paragrafo__sobre">Nosso objetivo
                    Facilitar a conexão entre indivíduos que possuem medicamentos excedentes e aqueles que deles necessitam é o objetivo central do nosso aplicativo.
                    Almejamos reduzir o desperdício e fomentar a solidariedade ao possibilitar a doação de remédios entre pessoas. Nosso propósito é tornar mais acessível a medicação para aqueles que enfrentam limitações financeiras. Por meio do nosso aplicativo, buscamos construir uma comunidade mais saudável e solidária, incentivando o cuidado mútuo e fortalecendo laços de apoio entre os usuários.
                    </p>
                </div>
            </div>
           
        </div>
     </div>
     <script>
        document.addEventListener('DOMContentLoaded', function() {
            const menuToggle = document.querySelector('.menu-toggle');
            const menuLinks = document.querySelector('.menu-links');

            menuToggle.addEventListener('click', function() {
                menuLinks.classList.toggle('active');
            });
        });
    </script>
</body>
</html>